<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<div id="result">
</div>

<%= javascript_tag do %>
    $(function() {
        var eventSource = new EventSource("<%= stream_path %>");

        eventSource.addEventListener("message", function(event) {
            message = $.parseJSON(event.data);
            $("#result").text(event.data);
        });
        eventSource.addEventListener("done", function(event) {
            this.close();
            $("#result").text(event.data);
        });
    });
<% end %>

<p>
  <strong>Q 1:</strong>
  <%= @question.q_1 %>
</p>

<p>
  <strong>Q 1 count:</strong>
  <%= @question.q_1_count %>
  <%= link_to 'update time', increment_path(q: 'q_1_count'), remote: true %>
</p>

<p>
  <strong>Q 2:</strong>
  <%= @question.q_2 %>
</p>

<p>
  <strong>Q 2 count:</strong>
  <%= @question.q_2_count %>
  <%= link_to 'update time', increment_path(q: 'q_2_count'), remote: true %>
</p>

<p>
  <strong>Q 3:</strong>
  <%= @question.q_3 %>
</p>

<p>
  <strong>Q 3 count:</strong>
  <%= @question.q_3_count %>
  <%= link_to 'update time', increment_path(q: 'q_3_count'), remote: true %>
</p>

<p>
  <strong>Q 4:</strong>
  <%= @question.q_4 %>
</p>

<p>
  <strong>Q 4 count:</strong>
  <%= @question.q_4_count %>
  <%= link_to 'update time', increment_path(q: 'q_4_count'), remote: true %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
